<a href="https://colab.research.google.com/github/mariaeduarda23delfino/projeto-bd-colab/blob/main/Projeto_BD_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importa a biblioteca sqlite3
import sqlite3

# Cria a conexão com o banco de dados (em memória)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Ativa o uso de chaves estrangeiras
cursor.execute("PRAGMA foreign_keys = ON;")

In [ ]:
# Criação da tabela de pessoas
cursor.execute('''
CREATE TABLE IF NOT EXISTS pessoas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER
);
''')

# Criação da tabela de produtos
cursor.execute('''
CREATE TABLE IF NOT EXISTS produtos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    descricao TEXT NOT NULL,
    estoque INTEGER,
    preco REAL
);
''')

# Criação da tabela de vendas com chaves estrangeiras
cursor.execute('''
CREATE TABLE IF NOT EXISTS vendas (
    id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
    id_pessoa INTEGER,
    id_produto INTEGER,
    quantidade INTEGER,
    FOREIGN KEY (id_pessoa) REFERENCES pessoas(id),
    FOREIGN KEY (id_produto) REFERENCES produtos(id)
);
''')

# Salva as alterações
conn.commit()

In [ ]:
# Inserindo pessoas
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Maria', 30);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('João', 25);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Ana', 40);")

# Inserindo produtos
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caneta', 100, 1.50);")
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caderno', 50, 6.50);")

# Salva as inserções
conn.commit()

In [ ]:
# Inserindo vendas
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (1, 1, 10);")  # Maria comprou 10 canetas
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (2, 2, 2);")   # João comprou 2 cadernos
conn.commit()

# Consultando as vendas com JOIN
cursor.execute('''
SELECT v.id_venda, p.nome, pr.descricao, v.quantidade
FROM vendas v
JOIN pessoas p ON v.id_pessoa = p.id
JOIN produtos pr ON v.id_produto = pr.id;
''')

# Mostra os resultados
resultados = cursor.fetchall()
for linha in resultados:
    print(linha)

In [ ]:
# Fecha a conexão com o banco
conn.close()